<h3 class="headline m-top-md">
  Participants
  <span class="line"></span>
</h3>

<div class="row">
  <div class="col-md-12">
    <div class="flash_div">
      <%= render 'flash_messages', flash: flash %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>List of Participants</strong>
      </div>
      <div class="panel-body">
        <table class="table table-striped data-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Partner Name</th>
              <th>Participating</th>
              <th>Actions</th>
            </tr> 
          </thead>
          
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= link_to user.name, user %></td>
                <td><%= user.partner_name %></td>
                <td><%= user.active? ? "Yes" : "No" %></td>
                <td class="actions">
                  <%= link_to edit_user_path(user), class:"btn btn-default btn-xs" do %>
                    <i class="fa fa-edit"></i> Edit
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>  
        </table>
      </div>
      <div class="panel-footer">
        <%= link_to download_csv_users_path, :class => 'btn btn-warning btn-fill', target: "_blank" do %>
            <i class="fa fa-download"></i> Download Participant Details Summary
        <% end %>
        <div class="pull-right">
          <%= link_to new_user_path, class: "btn btn-fill btn-success" do %>
            <i class="fa fa-plus"></i> Add Participant
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
